<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        {% if choice.approved is True %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endif %}
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<hr>
<!--comment add-->
<form action="{% url 'polls:comment_create' question.id %}" method="post">
{% csrf_token %}
<textarea name="content" id="content" rows="1"></textarea>
<input type="submit" value="Comment Add">
</form>

<!--comment-->
<div>
    <ul>
    {% for comment in question.comment_set.all %}
        <li>{{ comment.content }} - commented by - {{ user }} at {{ comment.create_date }}</li>
                <div>
                    <a href="{% url 'polls:reply_create' comment.pk %}">Reply</a>
                </div>
    {% endfor %}
    </ul>
</div>

