<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        {% if choice.approved is True %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endif %}
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<hr>
<br>
<form method="post" action="{% url 'polls:comment_create' question.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" value="Coment Add">
</form>
<hr>

    {% for comment in question.comment_set.all %}
        Comment : {{ comment.content }}
        at {{ comment.create_date }}
        <a href = "{%  url 'polls:comment_update' question.id comment.id %}">Edit</a>
        <a href = "{%  url 'polls:comment_delete' question.id comment.id %}">Delete</a>
        <form method="post" action="{% url 'polls:recomment_create' question.id %}">
            {% csrf_token %}
            {% for recomment in recomment_form %}
                {% if recomment.label != 'comment' %}
                    Re : {{ recomment }}
                {% endif %}
            {% endfor %}
            <input type="hidden" name="comment" value = {{comment.id}}>
            <input type="submit" value="Reply">
        </form>
        {% for recom in comment.recomment_set.all %}
            -> {{ recom }} at {{ recom.create_date }}<br>
        {% endfor %}
        <hr>
    {% endfor %}
<br>
<hr>



