<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>
<hr>
<h3> * Choice Suggestion *</h3>
    <form action="{% url 'polls:suggestion' question.id %}"method="post">
        {% csrf_token %}
        <input type="text" name="text">
        <button type="submit" value = "suggestion">Suggestion</button>
    </form>
<hr>
<!--답변등록을 위한 것-->
<form action="{% url 'polls:comment_create' question.id %}" method="post">
{% csrf_token %}
<textarea name="content" id="content" rows="1"></textarea>
<input type="submit" value="Comment Add">
</form>

<!--답변을 보기 위한 것-->
<div>
    <ul>
    {% for comment in question.comment_set.all %}
        <li>{{ comment.content }} - commented by - {{ user }} at {{ comment.create_date }}</li>
                <div class="box">
                    <a href="{% url 'polls:reply_create' comment.pk %}">답글</a>
                </div>
    {% endfor %}
    </ul>
</div>

