<div>
   <ul>
{% if user.is_active %}
    User : {{ user }}
    <a href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a>
    <hr>
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <li><a href={% url 'polls:detail' question.id %}>{{ question.question_text }}</a></li>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% else %}
    <li><a href="{% url 'login' %}">Please Login!</a></li>
{% endif %}
   </ul>
</div>
